# Used by backend to connect to the database
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=myapp
DB_MODE=local # local or external (external defaults to sslmode=require)
# DB_SSL_MODE=require # optional explicit sslmode override

# Used in the docker container to setup the database
POSTGRES_PASSWORD=secret
POSTGRES_USER=postgres
POSTGRES_DB=myapp

# GIN
GIN_MODE=debug #debug or release
